body,
#root {
  /* background: url("./images/city.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#myVideo {
  position: fixed;
  right: 50px;
  top: 170px;
  width: 50%;
  height: 65%;
  border: 20px double rgb(163, 45, 45);
}
